/*
Colors used:
Background Color ( White): #ffffff;
Primary Color (Black): 000000 or rgb(0,0,0);

*/


* {
    box-sizing: border-box;
}



body { 
    background-color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 16px; /* Sets the font size to 16px */
    font-weight: 300; /* Sets the font weight to 300 */
    line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
    color: #000000;
  }
  
  img {
    width: 100%;
  }

  h1, h2, h3, h4 {
    line-height: 1.4;
  }
  h1 {
    font-size: 2.75em;
    font-weight: 700;
  }
  
  h2 {
    font-size: 2.25em;
    font-weight: 700;
  }
  
  h3 {
    font-size: 1.75em;
    font-weight: 600;
  }
  h4 {
    font-size: 1.35em;
    font-weight: 400;
  }


  [class*="col-"] {
    float:  left;
    padding:10px
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }
/*---------------header styling----------------*/

header {
  background-color: #fbfbfb;
  padding: 16px 0;
  position: fixed;
  top: 0;
  z-index: 3;
  height: auto;
  min-height: 56px;
  width: 100%;
}

.logo {
  max-width: 250px;
  text-align: center;
}

  nav  {
    display: inline-block;
    width: auto;
    float:
  
  }

  nav > ul {
    list-style-type: none;
    padding: 0;
    margin: 4px 0 4px 0;
  }

  nav > ul > li {
    display: inline-block;
    padding-left: 20px
    
  }

  nav > ul > li > a:visited {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #4a4a4a;
  }


/*----------- Layout styling---------------- */

.container {
    padding: 0 15px;
  }

  main {
    padding-top: 44px;
    background-color: #fbfbfb;
  }

  #hero {
    display: inline-block;
    background-color: #b1b1b1;
    padding: 0;
    width: 100%;
  }

  #hero span {
    display: block;
    
  }
 
  main {
    padding-top: 20px;
  }
  
  .row {
    margin: 25px 0; /* 25px top and bottom, 0 left and right */
  }

  #contact {
    background-color: #ffffff;
    padding: 20px 0;
    display: inline-block;
    width: 100%;
    text-align: center; /* Centers text */
  }
 
  
    #picture 
      .button:hover {
        opacity: 0.8;
      }
   


/*-----------------Navigation links----------------------------*/

a {
    color: #000000;
    text-decoration: none; 
    font-weight: 700;
    transition-duration: 0.6s;
}

a:hover,
a:focus {
  color: #535353;
  text-decoration: none;
}



a:active,
a:focus {
  color: #4f4f4f;
}


/*-----------------Buttons----------------------------*/

.button {
  display: inline-block;
  background-color: #143a52;
  color: white;
  font-weight: 400;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #081c29;
  transition: 0.2s opacity;
}
.button:hover {
  opacity: 0.8;
}


.button:active { /* Selected link */
    color: #5d9dcb;
}



/*-----------------Social links----------------------------*/



#linkedin{
    display: inline-block;
    font-size: 40px;
    color: black; 
    padding-right: 20px;
    padding-top: 20px;
    }
    
    #linkedin:hover{
    color: #143a52;
    }
    #behance:hover {
    color: #143a52;
    }
    #behance{
    display: inline-block;
    font-size: 40px;
    color: black;
    }


    

/*---------------animations---------------------*/

@keyframes  {
    width: 100%;
    max-width: 100%;
    height: auto;

}


@keyframes color-change {
  from {fill: #edc655;}
  to {fill: #f76414;}
}

@keyframes color-change {
  0% {fill: #edc655;}
  50% {fill: #fcffad;}
  100% {fill: #f76414;}
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}


@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

/* media queries */


 /* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }
}


/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
}




/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}


